<ion-content>
  <ion-card class="card_acordion">
    <ion-row>
      <ion-col size="12">
        <ion-row *ngFor="let plato of item.pedido.platos">
          <ion-col size="12" class="header" *ngIf="plato.tipo === 'menu'">Menus</ion-col>
          <ion-col size="12" class="header" *ngIf="plato.tipo === 'extra'">Extras</ion-col>
          <ion-col size="12" class="header" *ngIf="plato.tipo === 'promocion'">Promocion</ion-col>
          <ng-container *ngIf="plato.tipo === 'extra'">
            <ion-col size="8">
              <p class="color_74">{{ plato.plato_nombre }}</p>
            </ion-col>
            <ion-col size="4" class="ion-text-end">
              <p class="color_a6">{{ plato.cantidad }} Unds.</p>
            </ion-col>
            <!-- <ion-col size="3" class="ion-text-end">
              <p class="color_74">{{ plato.precio | currency:'S/. ' }}</p>
            </ion-col> -->
          </ng-container>
  
          <ng-container *ngIf="plato.tipo === 'menu'">
            <ng-container *ngFor="let menu of plato.menus">
              <ion-col size="8">
                <p class="color_74">{{ menu.nombre }}</p>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <p class="color_a6">{{ menu.cantidad }} Unds.</p>
              </ion-col>
              <!-- <ion-col size="3" class="ion-text-end">
                <p class="color_74">15</p>
              </ion-col> -->
            </ng-container>
          </ng-container>
          
          <ng-container *ngIf="plato.tipo === 'tienda'">
            <ng-container *ngFor="let producto of plato.productos">
              <ion-col size="8">
                <p class="color_74">{{ producto.nombre }}</p>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <p class="color_a6">{{ producto.cantidad }} Unds.</p>
              </ion-col>
            </ng-container>
          </ng-container>
          
          <ng-container *ngIf="plato.tipo === 'promocion' && plato.promocion_tipo === '1'">
            <ng-container *ngFor="let plato_p of plato.platos">
              <ion-col size="8">
                <p class="color_74">{{ plato_p.nombre }}</p>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <p class="color_a6">{{ plato.cantidad }} Unds.</p>
              </ion-col>
              <!-- <ion-col size="3" class="ion-text-end">
                <p class="color_74">{{ plato_p.precio | currency:'S/. ' }}</p>
              </ion-col> -->
            </ng-container>
          </ng-container>
  
          <ng-container *ngIf="plato.tipo === 'promocion' && plato.promocion_tipo === '0'">
            <ng-container>
              <ion-col size="8">
                <p class="color_74">{{ plato.plato_nombre }}</p>
              </ion-col>
              <ion-col size="4" class="ion-text-end">
                <p class="color_a6">{{ plato.cantidad }} Unds.</p>
              </ion-col>
              <!-- <ion-col size="3" class="ion-text-end">
                <p class="color_74">{{ plato_p.precio | currency:'S/. ' }}</p>
              </ion-col> -->
            </ng-container>
          </ng-container>
        </ion-row>
      </ion-col>
      <ion-col size="12">
        <ion-row class="ion-align-items-center">
          <ion-col size="4">
            <ion-badge color="success" *ngIf="item.pedido.tipo_pago === 'culqi'">
              Pago online
            </ion-badge>

            <ion-badge color="warning" *ngIf="item.pedido.tipo_pago !== 'culqi'">
              Pago contra entrega
            </ion-badge>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <!-- <p class="color_a6">Delivery</p> -->
            <p class="color_a6">Total</p>
          </ion-col>
          <ion-col size="4" class="ion-text-end">
            <!-- <p class="color_74">£4.99</p> -->
            <p class="color_74">{{ item.pedido.monto_total | currency:'S/. ' }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="opciones ()">
          Opciones
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button expand="block" (click)="procesar ()">
          Confirmar entrega
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
